table {
	border-collapse: collapse;
}
table td ,table th {
	padding: 5px;
	border: 1px solid black;
}

.submit-measurements,
.measurements {
	margin-bottom: 20px;
}

.chat-panel {
	width: 400px;
	height: 300px;
	border: 1px solid black;
}
.chat-panel .chat-messages {
	height: 90%;
	border-bottom: 1px solid black;
}
.chat-panel .chat-controls {
	padding: 4px;
}
.chat-panel .chat-controls .chat-message {
	width: 80%;
}
